/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* main */
@media screen, projection {
  #root {
    margin: 0 auto;
    max-width: 920px; } }
header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid silver; }
  header h1 {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 0.2em; }
  header nav > ul {
    list-style-type: none;
    margin: 0; }
    header nav > ul li {
      font-weight: bold;
      display: inline-block;
      margin-right: 20pt;
      left: 0;
      padding-right: 0; }
    header nav > ul li:last-child {
      margin-right: 0; }
    header nav > ul li:before {
      content: "[ "; }
    header nav > ul li:after {
      content: " ]"; }

article h1, article h2, article h3 {
  margin-bottom: 0.5em;
  font-weight: bold;
  clear: both; }
article h4, article h5, article h6 {
  background-color: red; }
article h1 {
  font-size: 3.5em;
  color: midnightblue; }
article h2 {
  font-size: 2em; }
article h3 {
  font-size: 1.5em; }

footer {
  border-top: 1px solid silver;
  padding: 0.5em 0 1em 0;
  text-align: right; }

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt; }

p, ul, ol, img {
  margin-bottom: 2em;
  line-height: 1.5em; }

p {
  text-align: justify; }

a {
  text-decoration: none; }

a:link, a:visited {
  color: red; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

pre {
  white-space: pre;
  padding: 5px;
  line-height: 1.7;
  background-color: #f0f0f0;
  border: 1px solid #dadada;
  border-radius: 3px;
  font-family: "Droid Sans Mono Slashed", "Droid Sans Mono", "Courier New", monospace; }

ul {
  list-style-type: disc;
  margin-left: 1em; }
  ul li {
    position: relative;
    left: 1em;
    padding-right: 1em; }

img {
  float: left;
  margin-right: 1em; }
